.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
}

.footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social a {
  color: white;
  text-decoration: none;
  margin: 0px 10px 5px 10px;
  padding: 5px 10px 5px 10px;
  transition: 0.3s;
  border-radius: 10px;
}

.footer .social a:hover {
  color: red;
  background-color: white;
}
