form {
  width: 100%;
  display: flex;
  flex-direction: row wrap;
  justify-content: center;
  margin: 10px auto;
}
input {
  width: 50%;
  min-height: 30px;
  box-shadow: 2px 2px 2px lightgrey;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
}
button {
  width: 20%;
  background-color: red;
  box-shadow: 2px 2px 2px pink;
  color: white;
  border-radius: 5px;
  text-align: center;
}

@media screen and (max-width: 675px){
  input {
    width: 70%;
  }
  button {
    width: 25%;
    background-color: red;
    box-shadow: 2px 2px 2px pink;
    color: white;
    border-radius: 5px;
    text-align: center;
  }
}
