.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 15px 10px;
  width: 21%;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 2px 2px 2px grey;
  transition: 0.3s;
  font-size: 11px;
}

.card:hover {
  width: 25%;
}

.card img {
  width: 75%;
}
